<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Login Servlet -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <!-- Profile Servlet -->

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.servlet.ProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>


    <!-- Footer Servlet -->

    <servlet>
        <servlet-name>FooterServlet</servlet-name>
        <servlet-class>com.servlet.FooterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FooterServlet</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>
    <!--    Cookie Servlet-->
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.servlet.CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>

    <!--   Read Cookie Servlet-->
    <servlet>
        <servlet-name>ReadCookieServlet</servlet-name>
        <servlet-class>com.servlet.ReadCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookieServlet</servlet-name>
        <url-pattern>/read-cookie</url-pattern>
    </servlet-mapping>



    <!--   Deleted Cookie Servlet-->
    <servlet>
        <servlet-name>DeletedCookieServlet</servlet-name>
        <servlet-class>com.servlet.DeletedCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletedCookieServlet</servlet-name>
        <url-pattern>/delete-cookie</url-pattern>
    </servlet-mapping>


    <!--   Session  Servlet-->
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.servlet.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>



<!--    CheckSession Servlet-->

    <servlet>
        <servlet-name>CheckSessionServlet</servlet-name>
        <servlet-class>com.servlet.CheckSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckSessionServlet</servlet-name>
        <url-pattern>/check-session</url-pattern>
    </servlet-mapping>




    <!--    Logout Servlet-->

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>



    <context-param>
        <param-name>appName</param-name>
        <param-value>Exploregypt</param-value>
    </context-param>

</web-app>